<%- include('partials/header') -%>
<div class="container">
    <p><strong>User Name</strong>: <%= user.userName %></p>
    <p><strong>Email</strong>: <%= user.email %></p>
</div>
<section class="container">
    <a href="/userPosts">POSTS</a>
    <a href="/userFavs">FAVORITES</a>
    <a href="/userComments">COMMENTS</a>
</section>
<main class="container">
    <section class="profile-comments">
        <% for(let i = 0; i < comments.length; i++) { %>
            <article class="profile-comment-container">
                <a href="/post/<%= comments[i].post%>">
                    <img src="<%=comments[i].image%>" class="comment-img">
                </a>
                <div>
                    <span style="display:block" class="comment comment-style"><%= comments[i].comment%></span>
                    <span class="date"><%= comments[i].createdAt%></span>
                </div>
            </article>
        <% } %>
    </section>
</main>
